.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
.gnb {
	width: 100%;
	border-bottom: 1px solid #ccc;
	background: #efefef;
}
.wrap {
	width: 940px;
	margin: 0 auto;
	/* width를 지정해주지 않으면 margin auto가 동작하지 않는다 */
}

.header {}
.search-wrap {
	width: 640px;
	margin: auto;
}
.search-wrap h1 {
	float: left;
  width: 210px;
	height: 78px;
}
.search-wrap .search-area {
	float: left;
	width: 430px;
}
.nav {}

.container {}
.footer {}
