.gnb {
	width: 100%;
	border-bottom: 1px solid #ccc;
	background: #efefef;
}
.gnb-tools {
	float: left;
	width: 33.333333%;
}
.gnb-tools .lnk-app {
	float:left;
}
.gnb-tools .font-select {
	float:left;
}
.gnb-navigation {
	float: left;
	width: 33.333333%;
	text-align:center;
}
.gnb-navigation li {
	display: inline-block;
}
.gnb-out-link {
	float: right;
	width: 33.333333%;
}
.gnb-out-link ul {
	float: right;
}
.gnb-out-link li {
	float: left;
}
.wrap {
	width: 940px;
	margin: 0 auto;
	/* width를 지정해주지 않으면 margin auto가 동작하지 않는다 */
}

.header {}
.search-wrap {
	width: 640px;
	margin: auto;
}
.search-wrap h1 {
	float: left;
}
.search-wrap h1 a {
	display: block;
	width: 210px;
	height: 78px;
	background: url("../img/nmms_224940510.gif") 0 0 no-repeat;
	text-indent: -10000%;
	/* IR 기법 */
}
.search-wrap .search-area {
	float: left;
	width: 430px;
}
.nav {

}
.navbar {
	width: 100%;
	height: 38px;
	background-position:0 -420px;
}
.navbar li {
	float: left;
	margin: 12px 12px;
}
.navbar li + li {
	margin-left:0;
}
.navbar a {
	width: 24px;
	height: 14px;
}

.container {}
.footer {}
