main {}
.banner {
	position: relative;
	overflow: hidden;
}
.banner ul {
	display: flex;
	padding: 0;
	margin: 0;
}
.banner li {
	min-width:100%;
	min-height:100%;
	list-style:none;
}
.banner a {
	display: block;
}
.banner img {
	width:100%;
	vertical-align:top;
}
.banner .navigation {
	display: flex;
	position: absolute;
	bottom: 10px;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}
.banner .navigation-items {
	display:block;
	width:8px;
	height:8px;
	margin:0 5px;
	background:white;
	border-radius:50%;
	z-index:50;
}
.banner .navigation-items-on {
	background: red;
}
.categories {
	margin: 0.4em;
	background: white;
}
.categories ul {
	display:flex;
	margin:0;
	padding:0;
}
.categories li {
	flex:1;
	list-style:none;
	font-size: 0.7em;
	line-height: 1.2em;
	text-align:center;
}
.categories a {
	display:block;
	padding:15px 0;
}
.categories img {
	display:block;
	width:70px;
	margin:auto;
}
.deals {
	display:flex;
	margin: 0.4em;
}
.deals .deal {
	flex:1;
	background:white;
}
.deals .deal + .deal {
	margin-left: 0.5em;
}
.deals .deal a {
	display:block;
	padding:0.5em;
	text-align:center;
}
.deals .deal strong {
	font-size: 1.3em;
}
.deals .deal p {
	margin:0.5em 0 0;
	padding: 0.2em 0.5em 0.3em;
	color: white;
	background: crimson;
	border-radius: 2em;
}
.deals .deal-super p {
	background:orange;
}
.deals .deal img {
	width:100%;
}
.ad {}
.recommend {}
.recommend h2 {
	font-weight: 400;
	font-size:1em;
	text-align: center;
}
.recommend-wrap {
	display: flex;
}
.recommend-column {
	flex: 1;
}
.recommend-column ul {
	margin:0;
	padding:0;
}
.recommend-column li {
	list-style:none;
	background:#fff;
	text-align:center;
	padding: 0.25em;
	margin: 0.25em;
}
.recommend-column img {
	width: 100%;
}
