/**
 * Selectors Level 3
 * http://techhtml.github.io/selectors/
 */

/*
 * type selector, 요소 셀렉터
 * 특정한 요소를 지정하여 스타일을 부여한다.
 * - 한 요소 트리 내에서 가장 마지막 자식에게 사용하거나
 * - 한 사이트 내의 특정한 요소에 같은 CSS를 주고싶거나
 * - html, body, main 같이 한 페이지 내에서 한번만 쓸 수 있는 경우
 */
html {}
div {}
p {}

/*
 * class Selector, 클래스 셀렉터
 * 특정한 클래스명을 가진 요소에 CSS를 부여한다.
 * 문법 : . + 클래스명(숫자나 특수문자로 시작 X)
 * 클래스(셀렉터)는 조합 가능
 */
.chicken {
	color: orange;
}
.chicken.chicken-is-delicious {
	color: blue;
}
.pizza {
	color: red;
}
div.chicken {

}

/**
 * <div class='chicken'>치킨!</div>
 * <div class='chicken-is-delicious'>치킨 마싰엉!</div>
 * <div class='chicken chicken-is-delicious'>치킨 마시쩡!!!!!</div>
 * <div class='pizza chicken'>치킨 마시쩡!!!!!</div>
 */

/*
 * attribute selector
 * 특정한 속성을 가진 요소에 CSS를 부여함
 * 특정한 속성을 그냥 가진 / 셀렉터[속성명]
 * 특정한 속성에 특정한 값을 가진 / 셀렉터[속성명="속성값"]
 * 특정한 속성 내에서 공백으로 구분한 단어들 중 일치하는 값을 가진 / 셀렉터[속성명~="속성값"]
 * 특정한 속성한 특정한 값을 포함하는 / 셀렉터[속성명*="속성값"]
 * 아래 2 셀렉터 제외
 * 특정한 속성에 특정한 값으로 시작하는 / 셀렉터[속성명^="속성값"]
 * 특정한 속성에 특정한 값으로 끝나는 / 셀렉터[속성명$="속성값"]
 */
[class*="col-md"] {
	float:left;
	padding:15px;
	box-sizing:border-box;
}
.col-md-5 {
	width:50%;
}
.col-md-7 {
	width:70%;
}

/*
 * ID 셀렉터
 * HTML의 ID 속성의 값을 기준으로 CSS를 부여한다
 * HTML에서 ID속성의 값은 한 페이지 내에서 중복될 수 없다.
 * 셀렉터 우선순위가 가장 높다
 */

#wrap {

}

#header {

}

/*
 * 콤비네이터
 * A 셀렉터와 B 셀렉터 사이의 관계를 지정해주는 친구
 */

/*
 * 자손 콤비네이터
 * 특정한 셀렉터 A의 자손 셀렉터 B에게 CSS를 부여한다.
 * A B
 */

.header .header-logo {}

/*
 * 자식 콤비네이터
 * 특정한 셀렉터 A의 자식 셀렉터 B에게 CSS를 부여한다.
 * A > B
 */

.main-menu {}
.main-menu > li {}

.sub-menu {}
.sub-menu > li {}
/*
 * <header>
 *   <nav>
 *     <ul class='main-menu'>
 *       <li><ul class='sub-menu'><li></li></ul></li>
 *       <li><ul class='sub-menu'><li></li></ul></li>
 *       <li><ul class='sub-menu'><li></li></ul></li>
 *       <li><ul class='sub-menu'><li></li></ul></li>
 *      </ul>
 *   </nav>
 * </header>
 */

/*
 * 형제 콤비네이터
 * 인접 형제 콤비네이터 (내 뒤에 바로 붙어있는 형제 요소)
 * A + B
 * 일반 형제 콤비네이터 (내 동생들, 내 뒤에 따라오는 형제 요소)
 * 일반적으로는 일반 형제 콤비네이터가 조금 더 느림
 * A ~ B
 */

p + p { color: red }
 /*
  * <div>배고파</div>
	* <p>피자</p>
	* <p>치킨</p>
	* <span>라면</span>
	* <p>국수</p>
	*/











/**/
