/* HEADER */
.header {
	border-bottom:1px solid #eee;
	text-align:center;
}
.container {
	min-width:320px;
	width: 100%;
	max-width:960px;
	margin:auto;
	overflow:hidden;
}
.logo {
	float:left;
}
.logo h1 {
	margin:0;
	font-size:20px;
}
.logo a {
	display:block;
	padding:10px 5px 9px;
	color:black;
	text-decoration:none;
}
.search {
	display: inline-block;
	margin: 9px 0;
}
.user-menu {
	float:right;
	margin:12px 0;
}
.user-menu a {
	margin-left:12px;
}

/* card */
.card {
	max-width:600px;
	margin: 60px auto;
	border:1px solid #eee;
	background:#fff;
}
.card-main {

}
.card-header {
	padding:10px 15px;
	overflow:hidden;
}
.card-profile {
  float:left;
}
.card-profile img {
	float:left;
	width:30px;
	border:1px solid #aaa;
	border-radius:50%;
}
.card-profile strong {
	float:left;
	display:block;
	margin:7px 5px 5px 10px;
}
.card-upload-time {
	float:right;
	margin:7px 0 5px;
}
.card-upload-time a {
	color:#555;
	text-decoration:none;
}
.card-image {

}
.card-image img {
	width:100%;
}
.card-contents {
	padding:0 10px;
}
main {
	background:#fafafa;
}


	/**/
